.container {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0 20px;

  .status {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    transition: 0.1s background-color ease-in;

    &:hover {
      background-color: #efeef2;
    }

    &.active {
      text-decoration: underline;
    }
  }
}