.container {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0 20px;

  &:hover {
    background-color: #efeef2;
  }

  .status {
    display: inline-block;
    margin: 10px;


    &.active {
      text-decoration: underline;
    }
  }
}