.main {
    margin: 0 20px;
    padding: 0 15px;
    position: relative;
    display: flex;
    //flex-direction: row;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    height: 100%;

    &.scrolled {
        flex-direction: row;
    }

    .filterBlock {
        //position: fixed;
        //left: 50%;
        transform: translate(-15px, 0);
        width: 800px;
        height: 50px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #edecf0;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);

        &.scrolled {
            position: fixed;
            //left: 50%;
        }
    }

    .info {

        &.scrolled {
            display: none;
        }
    }

    .disable {
        pointer-events: none;
    }
}

