.main {
  position: relative;
  border:solid #c03420;
  border-width: 0 1px;
  transition: all 0.2s;

  &.active::before {
    pointer-events: all;
    position: absolute;
    content: '';
    background-color: #c03420;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .link {
    position: relative;
    width: 161px;

    .loginIcon {
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: cover;
    }
  }
}