.form {
  .formItem {
    cursor: pointer;
    :global {
      .ant-row {
        flex-direction: row;
        align-items: flex-start;
        grid-gap: 10px;

        & label {
          cursor: pointer;
        }
      }

      .ant-col.ant-form-item-control {
        width: unset;

        .ant-form-item-control-input {
          min-height: unset;
        }
      }
    }
  }
}