.main {
  position: absolute;
  right: 0;
  top: 70%;
  background-color: white;
  transform: scaleY(0.8);
  opacity: 0;
  border: 1px solid #e44d3a;
  border-radius: 3px;
  width: 120px;
  transition: all 0.3s ease;

  &.active {
    top: 105%;
    opacity: 1;
    transform: scaleY(1);
  }
  .item {
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 30px;
    width: 100%;
    color: #e44d3a;

    &:hover {
      color: white;
      background-color: #e44d3a;
    }
  }
}