.main {
  user-select: none;
  position: absolute;
  right: 0;
  background-color: white;
  transform: translateY(6px);
  opacity: 0;
  z-index: 1;
  border: 1px solid #e44d3a;
  border-radius: 3px;
  width: 120px;
  transition: all 0.1s;
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: translateY(1px);
    pointer-events: all;
  }
  .item {
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    height: 30px;
    width: 100%;
    color: #e44d3a;

    &:hover {
      color: white;
      background-color: #e44d3a;
    }
  }
}