/*.descriptionBlock {*/
/*    padding: 10px;*/
/*}*/

.status {
    display: inline-block;
    margin: 10px;
    padding: 0 20px;
}

.status.active {
    cursor: pointer;
    text-decoration: underline;
}