.ant-btn {
  background-color: #e44d3a;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: rgba(#e44d3a, 1);
    border-color: rgba(#e44d3a, 1);
  }
}

.ant-input,
.ant-textarea {
  border-radius: 5px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #e44d3a;
  border-color: #e44d3a;
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: rgba(#e44d3a, 0.7)
}

.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-checked:hover .ant-checkbox-inner, {
  border-color: rgba(#e44d3a, 0.7)
}

.ant-checkbox-checked:after {
  border-color: #e44d3a;
}

.ant-input:focus,
.ant-input:hover {
  border-color: rgba(#e44d3a, 0.5);
  box-shadow: 0 0 0 2px rgba(#e44d3a, 0.1);
}

.ant-tabs-ink-bar {
  background: rgba(#e44d3a, 0.7);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e44d3a;
}

.ant-pagination-item {
  color: rgba(#e44d3a, 0.5);
}

.ant-pagination-item:hover {
  border-color: rgba(#e44d3a, 0.7);

  & a {
    color: rgba(#e44d3a, 0.7);
  }
}

.ant-pagination-item-active {
  border-color: #e44d3a;

  & a {
    color: #e44d3a;
  }
}

.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #e44d3a;
}

.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link {
  color: #e44d3a;
  border-color: #e44d3a;
}