.friend {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;

  &.active {
    background-color: #ede6f2;
  }

  .name {
    font-size: 18px;
    padding: 5px;
    color: black;

    &.active {
      text-decoration: underline;
    }
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
  }
}